---
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 2
UseTab: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: false
